<footer>

  {{ site.title }}/{{ page.permalink_name | replace: "/", "" | replace: " ", "-" }}
  <br><br>
  {% if site.tryhackme_username and site.tryhackme_username != "" %} :octocat: <a href="https://tryhackme.com/p/{{site.tryhackme_username}}">@{{ site.tryhackme_username }}</a> {% endif %}
  {% if site.twitter_username and site.twitter_username != "" %} :octocat: <a href="https://twitter.com/{{site.twitter_username}}">@{{ site.twitter_username }}</a> {% endif %}
  
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  const button = new Crate({
    server: '548657782895804455',
	color: '#000',
    channel: '747230888563179560',
    glyph: ['https://i.vgy.me/W1EH5t.png', '100%']
	
  })
 
  crate.notify({
  content: '**Welcome to Shadow Army.** If you have any instrest in pentesting come join our server',
  timeout: 60000,
  avatar: 'https://i.vgy.me/34Ysq6.png'
  })
  
</script>

</footer>
